/* Import styles */
@import url(global.css);

/* Style content */

.flex {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto 2rem auto;
  gap: 1rem;
}

.flex__item {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0 2rem 0;
}

.flex__item--top {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex__item--image {
  position: relative;
  transition: transform 0.3s ease;
}

.flex__item--image:hover {
  transform: translateY(-7px);
  transition: transform 0.3s ease;
}

/* If image is for a website add a seperate class to style object-position: top (navbar should be present, otherwise center images.) */
.flex__item--image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center; 
  border-radius: 5px;
  box-shadow: var(--shadow);
  cursor: pointer;
  opacity: var(--opacity);
}

.flex__item--image a {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.flex__item--bottom {
  display: flex;
  gap: 1rem;
}

.main__source {
  display: flex;
  justify-content: center;
}

div.title-name {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    width: 90%;
    padding: 0;
  }
}
